*{
    margin: 0px;
    padding: 0px;
}

.lego{
    border: 1px solid black;
}

.flex{
    display: flex;
}

.marginAuto{
    margin: auto;
}

.navBar{
    height: 75px;
    background-color: dimgray;
}

.innerNavBar{
    width: 60%;
    height: 100%;
    justify-content: space-between;
    border-color: purple;
    align-items: center;
}

.profile{
    font-size: 28pt;
    color: white;
}

.links{
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.links a{
    text-decoration: none;
    color: lightgray;
}

.btn{
    background-color: skyblue;
    color: white;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    width: 85px;
    height: 25px;
}

.mainContainer{
    height: 550px;
    width: 60%;
    margin-top: 25px;
}

.banner{
    width: 100.5%;
    background-color: dimgray;
    height: 25%;
}

.banner h3{
    display: inline-block;
    color: lightgray;
}

.leftColumn{
    flex: 3;
    height: 100%;
    border-color: red;
    margin-right: 10px;
}

.rightColumn{
    flex: 2;
    height: 90%;
    border-color: blue;
    margin-left: 10px;
}

.leftTopBox{
    height: 60%;
    width: 100%;
    border-color: black;
    margin-bottom: 20px;
}

.leftTopBanner{
    height: 25%;
    background-color: skyblue;
    padding: 0px;
}

.leftTopContent{
    height: 70%;
    width: 100%;
    border: 1px solid gray;
}

.leftTopInfo{
    margin: 60px 0px 0px 30px;
}

.profileImg{
    width: 100px;
    margin: 35px 0px 0px 30px;
    border: 3px solid lightgray;
    border-radius: 50%;
}

.leftTopInfo h3{
    display: inline-block;
    margin: 15px 0px 15px 10px;
}

.leftBottomBox{
    border-color: green;
    height: 35%;
    width: 100%;
}

.leftBottomBanner h3{
    margin: 13px 0px 0px 35px;
}

.leftBottomContent{
    height: 80%;
    width: 100%;
    border-color: grey;
}

.leftBottomContent h3{
    margin: 20px 0px 20px 35px;
}

.leftBottomContent p{
    margin-left: 35px;
}

.map{
    width: 15px;
}

.gear{
    width: 15px;
    margin: 15px 10px 0px 0px;
}

.rightTopBox{
    border-color: green;
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}

.rightTopBanner{
    background-color: dimgray;
    height: 25%;
    width: 100.5%;
}

#requests{
    
    border-radius: 50%;
    color: dimgray;
    background-color: lightgray;
    display: inline-block;
    margin: 15px 5px 0px 25px;
    padding: 0px 5px;
}

.connection{
    display: inline-block;
}

.rightTopContent{
    height: 75%;
    width: 100%;
    border: 1px solid lightgray;
}

.rightBottomBox{
    border-color: black;
    width: 100%;
    height: 55%;
}


